copyalltables.json
{
    "name": "copyalltables",
    "properties": {
        "activities": [
            {
                "name": "Lookup1",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "MySqlSource",
                        "query": "select sourcetable,des from metadata_info;"
                    },
                    "dataset": {
                        "referenceName": "MySqldy",
                        "type": "DatasetReference",
                        "parameters": {
                            "table": "metadata_info"
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "ForEach1",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Lookup1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Lookup1').output.value",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Copy data1",
                            "type": "Copy",
                            "dependsOn": [
                                {
                                    "activity": "oldwatermark",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                },
                                {
                                    "activity": "newwatermark",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "MySqlSource",
                                    "query": {
                                        "value": "@concat(\n  'SELECT * FROM ', item().sourcetable,\n  ' WHERE LastModified > ''', activity('oldwatermark').output.firstRow.WatermarkValue,\n  ''' AND LastModified <= ''', activity('newwatermark').output.firstRow.NewWatermarkvalue, ''''\n)",
                                        "type": "Expression"
                                    }
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "AzureBlobStorageWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "quoteAllText": true,
                                        "fileExtension": ".txt"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false,
                                        "dateTimeFormat": "yyyy-MM-dd HH:mm:ss"
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "sqldynamic",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "table": {
                                            "value": "@item().sourcetable",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "sinkincrement",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "file": {
                                            "value": "@item().des",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "name": "oldwatermark",
                            "type": "Lookup",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "AzureSqlSource",
                                    "sqlReaderQuery": {
                                        "value": "@concat('SELECT * FROM [dbo].[watermarktable] WHERE TableName = ''', item().sourcetable, '''')",
                                        "type": "Expression"
                                    },
                                    "queryTimeout": "02:00:00",
                                    "partitionOption": "None"
                                },
                                "dataset": {
                                    "referenceName": "AzureSqlwatermark",
                                    "type": "DatasetReference"
                                }
                            }
                        },
                        {
                            "name": "newwatermark",
                            "type": "Lookup",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "MySqlSource",
                                    "query": {
                                        "value": "@concat('SELECT MAX(LastModified) as NewWatermarkvalue FROM ', item().sourcetable)\n",
                                        "type": "Expression"
                                    }
                                },
                                "dataset": {
                                    "referenceName": "MySqldy",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "table": {
                                            "value": "@item().sourcetable",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "name": "Copy data2",
                            "type": "Copy",
                            "dependsOn": [
                                {
                                    "activity": "Copy data1",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "AzureBlobStorageReadSettings",
                                        "recursive": true,
                                        "wildcardFolderPath": {
                                            "value": "@concat(item().sourcetable,'_dir')",
                                            "type": "Expression"
                                        },
                                        "wildcardFileName": "*",
                                        "enablePartitionDiscovery": false
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "AzureBlobStorageWriteSettings",
                                        "copyBehavior": "MergeFiles"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "quoteAllText": true,
                                        "fileExtension": ".txt"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false,
                                        "dateTimeOffsetFormat": "yyyy-MM-dd HH:mm:ss"
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "dynamicdir",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "file": {
                                            "value": "@item().sourcetable",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "sinkfinal",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "file": {
                                            "value": "@item().des",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "name": "Delete1",
                            "type": "Delete",
                            "dependsOn": [
                                {
                                    "activity": "Copy data2",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataset": {
                                    "referenceName": "incrementdel",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "file": {
                                            "value": "@item().sourcetable",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "logStorageSettings": {
                                    "linkedServiceName": {
                                        "referenceName": "AzureBlobStorage1",
                                        "type": "LinkedServiceReference"
                                    },
                                    "path": "container1"
                                },
                                "enableLogging": true,
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                }
                            }
                        },
                        {
                            "name": "Stored procedure1",
                            "type": "SqlServerStoredProcedure",
                            "dependsOn": [
                                {
                                    "activity": "Delete1",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "storedProcedureName": "[dbo].[usp_write_watermark]",
                                "storedProcedureParameters": {
                                    "LastModifiedtime": {
                                        "value": {
                                            "value": "@substring(activity('newwatermark').output.firstRow.NewWatermarkvalue, 0, 19)\n",
                                            "type": "Expression"
                                        },
                                        "type": "Datetime"
                                    },
                                    "TableName": {
                                        "value": {
                                            "value": "@item().sourcetable",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "AzureSqlDatabase1",
                                "type": "LinkedServiceReference"
                            }
                        }
                    ]
                }
            }
        ],
        "annotations": [],
        "lastPublishTime": "2025-05-07T15:42:36Z"
    },
    "type": "Microsoft.Synapse/workspaces/pipelines"
}